@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input{
    height: 3rem;
    width: 3rem;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

